body {
	background-color: lightgrey;
	padding: 0;
	margin: 0;
}
div {
	border: 1px solid chocolate;
}

/* INTRODUCTION SECTION */

.header > .content {
	background: url(https://download.unsplash.com/reserve/JaI1BywIT5Or8Jfmci1E_zakopane.jpg);
	background-size: cover;
	padding: 10rem 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #F2F2F2;
}

.header > .content > h1 {
	font-size: 3.125rem;
	font-weight: 100;
}

.header > .content > h3 {
	font-size: 1.563rem;
	font-weight: 100;
}

/* ABOUT ME */

.about-me {
	font-family: 'Open Sans', sans-serif;
	background: #768C87;
}
.introduction-section > h1,
.location-section > h1,
.questions-section > h1 {
	color: #282828;
	text-align: center;
	font-weight: bold;
	font-size: 1.8rem;
}

.introduction-section,
.location-section,
.questions-section {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.introduction-section > p,
.location-section > p,
.content-footer > p {
  font-weight: 300;
  letter-spacing: 0.05em;
}

.questions-section > h2 {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
}

/* PROJECTS */

.projects {
	background-color: #415359;
	color: #EFF1C1;
}

.projects > .content {
	width: 60rem;
	margin: 0 auto;
	overflow: auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
}

.left-project {
	width: 50%;
	float: left;
}

.right-project {
	width: 50%;
	float: right;
}

/* FOOTER */

.footer {
	background-color: #0E1F26;
}

.footer > .content {
	padding: 5rem;
	text-align: center;
}

.footer > .content > .email {
	color: #F2F2F2;
	font-size: 1.2rem;
}
